<div class="container">
  <mat-checkbox>KKP</mat-checkbox>
<!-- <h1 >Angular Router App</h1> -->
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<!-- <nav>
  <ul>
    <li><a routerLink="/stock-details" routerLinkActive="active">Stock Details Component</a></li>
    <li><a routerLink="/user-details" routerLinkActive="active">User Details Component</a></li>
    <li><a routerLink="/match-details" routerLinkActive="active">Match Details Component</a></li>
    <li><a routerLink="/rank-details" routerLinkActive="active">Rank Details Component</a></li>
  </ul>
</nav> -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark" style="border-radius: 20%;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">StockPlay</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      <a class="nav-link" routerLink="/stock-details" routerLinkActive="active">Stock Details Component</a>
      <a class="nav-link" routerLink="/user-details" routerLinkActive="active">User Details Component</a>
      <a class="nav-link" routerLink="/match-details" routerLinkActive="active">Match Details Component</a>
      <a class="nav-link" routerLink="/rank-details" routerLinkActive="active">Rank Details Component</a>
      </div>
    </div>
  </div>
</nav>


<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
</div>